section {
  background: url('https://static.vecteezy.com/system/resources/previews/020/833/849/non_2x/world-map-with-country-names-free-vector.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-content {
  border: 1px solid white;
  border-radius: 5px 60px 5px 60px;
  color: white;
}
